{% extends 'provider/index.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li ><a href="{% url 'provider:index' %}">Provider</a></li>
  <li ><a href="{% url 'provider:base_index' '/' %}">Base Provider</a></li>
  <li class="active">{{ base_provider.name }}</li>
</ol>
{% endblock breadcrumb %}

{% block header %}
<h1>
  {{ base_provider.name }}
</h1>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Available Options: <code>{{ base_provider.get_available_options }}</code></li>
    </ul>
  </div>
</div>
{% endblock content %}
