{% extends 'provider/index.html' %}

{% block title %}
Providers - Base - Index
{% endblock title %}

{% block header %}
<h1>Base Provider</h1>
{% endblock header %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li ><a href="{% url 'provider:index' %}">Provider</a></li>
  <li class="active">Base Provider</li>
</ol>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if base_providers|length == 0 %}
    <h4>No Base Providers avaiable</h4>
    <p>Please add some</p>
    {% else %}
    <ul>
      {% for base_provider in base_providers %}
      <li><a href="{% url 'provider:base_view' base_provider.id %}">{{ base_provider }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock content %}
