{% extends 'provider/index.html' %}
{% load bootstrap3 %}

{% block title %}
Providers - Edit {{ provider.name }}
{% endblock title %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'provider:index' %}">Providers</a></li>
  <li><a href="{% url 'provider:view' provider.id %}">{{ provider.name }}</a></li>
  <li class="active">Edit</li>
</ol>
{% endblock breadcrumb %}

{% block header %}
<h1>Edit Provider: {{ provider.name }}</h1>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <form action="{% url 'provider:edit' provider.id  %}" method="post" class="form well">
      {% csrf_token %}
      {% include 'provider/form_provider.html' %}

      <button type="submit" class="btn btn-primary">
        Sumbit
      </button>
    </form>
    <form action="{% url 'provider:view' provider.id %}">
      <button type="submit" class="btn">
        Back
      </button>
    </form>
  </div>
</div>
{% endblock content %}
