{% load bootstrap3 %}
{% load staticfiles %}

{% bootstrap_form_errors form %}
<div class="row">
  <div class="col-md-12">
    {% bootstrap_field  form.name %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% bootstrap_field form.website %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% bootstrap_field form.regex_find_count %}
    {% comment %}
    TODO: Add regex test bed for regex options
    {% endcomment %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% bootstrap_field  form.base_provider %}
  </div>
</div>
{% bootstrap_field  form.options %}
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div id="base_provider_options">
        {% if provider and not provider.options == None %}
        {% for opt, val in provider.options.items %}
        <input name="{{ opt }}" value="{{ val }}"></input>
        {% endfor %}
        {% else %}
        <p>Loading additional options</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'jsonform/deps/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'jsonform/deps/opt/jsv.js' %}"></script>
<script type="text/javascript" src="{% static 'jsonform/deps/opt/ace/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'jsonform/lib/jsonform.js' %}"></script>

<script type="text/javascript" src="{% static 'js/options.js' %}"></script>
<script type="text/javascript">
  change_trigger('#id_base_provider', '{% url "provider:base_index" %}', '#base_provider_options', '#id_options');

  $('#id_base_provider').ready(function() {
    $('#id_base_provider').change();
  });
</script>
