{% extends 'base.html' %}

{% block title %}
Providers - Index
{% endblock title %}

{% block navbar_items %}
<li><a href="{% url 'series:index' %}">Series</a></li>
<li class="active"><a href="{% url 'provider:index' %}">Providers</a></li>
{% endblock navbar_items %}

{% block header %}
<h1>Providers
  <div class="pull-right">
    <a href="{% url 'provider:new' %}" class="btn btn-success">
      Create
    </a>
  </div>
</h1>
{% endblock header %}

{% block content %}
{% if providers|length == 0 %}
<h4>No Providers avaiable</h4>
<p>Please add some</p>
{% else %}
<ul>
  {% for provider in providers %}
  <li><a href="{% url 'provider:view' provider.id  %}">{{ provider }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock content %}
