{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
Providers - New
{% endblock title %}

{% block extra_head %}
<link media="all" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
{% endblock extra_head %}

{% block extra_script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
{% endblock extra_script %}

{% block navbar_items %}
<li><a href="{% url 'series:index' %}">Series</a></li>
<li class="active"><a href="{% url 'provider:index' %}">Providers</a></li>
{% endblock navbar_items %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'provider:index' %}">Providers</a></li>
  <li class="active">New</li>
</ol>
{% endblock breadcrumb %}

{% block header %}
<h1>Create Provider</h1>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <form action="{% url 'provider:new' %}" method="post" class="form well">
      {% csrf_token %}
      {% bootstrap_form form %}

      <button type="submit" class="btn btn-primary">
        Sumbit
      </button>
    </form>
    <form action="{% url 'provider:index' %}">
      <button type="submit" class="btn">
        Back
      </button>
    </form>
  </div>
</div>
{% endblock content %}
