{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Fetcher - Index{% endblock %}

{% block header %}
<h1>
    Fetcher
    <button id="fetcherd-refreash" class="btn btn-sm btn-default glyphicon glyphicon-refresh" onclick="status('{% url "fetcher:status" %}')"></button>
</h1>
{% endblock header %}

{% block extra_script %}
<script src="{% static 'js/fetcher.js' %}" ></script>
{% endblock extra_script %}

{% block navbar_items %}
<li><a href="{% url 'series:index' %}">Series</a></li>
<li><a href="{% url 'provider:index' %}">Providers</a></li>
<li class="active"><a href="{% url 'fetcher:index' %}">Fetcher</a></li>
{% endblock navbar_items %}

{% block content %}
<h3>
    <span id="fetcherd-status">Is loading</span> 
</h3>
<p>
<button id="force-fetch" class="btn btn-default" disabled="true" onclick="force('{% url "fetcher:force_fetch" %}','#force-fetch')">Force Fetch</button>
<button id="force-sort" class="btn btn-default" disabled="true" onclick="force('{% url "fetcher:force_sort" %}','#force-sort')">Force Sort</button>
<button id="log-refreash" class="btn btn-default" disabled="true" onclick="refreashLog('{% url "fetcher:log" %}','#log-refreash')">Refresh Log</button>
</p>

<pre id="log-box">

</pre>

<script>
$(document).ready(function() {
    status('{% url "fetcher:status" %}');
    refreashLog('{% url "fetcher:log" %}');
    setInterval(function() {
        status('{% url "fetcher:status" %}');
        refreashLog('{% url "fetcher:log" %}');
    }, 60*1000);
});
</script>
{% endblock content %}
