{% load bootstrap3 %}
{% load staticfiles %}
{{ form.media }}

{% bootstrap_form_errors form %}
<div class="row">
  <div class="col-md-6">
    {% bootstrap_field form.title %}
  </div>
  <div class="col-md-6">
    {% bootstrap_field form.info_url %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% bootstrap_field form.provider %}
  </div>
</div>

<div class="row">
      <div class="col-md-6">
        {% bootstrap_label form.poster.label %}
        {% bootstrap_field form.poster layout='inline' %}
      </div>
      <div class="col-md-6">
        {% bootstrap_label form.poster_url.label %}
        {% bootstrap_field form.poster_url layout='inline' %}
      </div>
    {{ form.poster.errors }}
</div>

<div class="row">
  <div class="col-sm-4">
    {% bootstrap_field  form.current_count %}
  </div>
  <div class="col-md-2"></div>
  <div class="col-sm-4">
    {% bootstrap_field  form.total_count %}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {% bootstrap_field  form.start_date %}
  </div>
  <div class="col-sm-6">
    {% bootstrap_field  form.end_date %}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {% bootstrap_field form.search_title %}
  </div>
  <div class="col-md-6">
    {% bootstrap_field form.save_path %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% bootstrap_field  form.release_schedule %}
    {{ form.release_schedule_options.errors }}
  </div>
  <div class="col-md-6">
    {% bootstrap_field  form.release_time %}
  </div>
</div>


<div class="row">
  <div id="release_schedule_options" class="col-md-6" >
    {% if series and not series.release_schedule_options == None %}
    {% for opt, val in series.release_schedule_options.items %}
    <div class="form-group has-success">
      <label class="control-label" for="id_porivder_{{ opt }}">{{ opt }}</label>
      <input onChange="genJSON('release_schedule_options','id_release_schedule_options');" data_name="{{ opt }}" class="form-control" type="text" value="{{ val }}" title="{{ opt }}" name="release_schedule_options_{{ opt }}"></input>
    </div>
    {% endfor %}
    {% else %}
    <p>Loading additional options</p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {% bootstrap_field  form.media_type %}
    {{ form.media_type_options.errors }}
  </div>
</div>

<div class="row">
  <div id="media_type_options" class="col-md-6">
    {% if series and not series.media_type_options == None %}
    {% for opt, val in series.media_type_options.items %}
    <div class="form-group has-success">
      <label class="control-label" for="id_porivder_{{ opt }}">{{ opt }}</label>
      <input onChange="genJSON('media_type_options','id_media_type_options');" data_name="{{ opt }}" class="form-control" type="text" value="{{ val }}" placeholder="{{ opt }}" title="{{ opt }}" name="media_type_options_{{ opt }}"></input>
    </div>
    {% endfor %}
    {% else %}
    <p>Loading additional options</p>
    {% endif %}
  </div>
</div>

{% bootstrap_field  form.media_type_options %}
{% bootstrap_field  form.release_schedule_options %}
<script type="text/javascript" src="{% static 'js/options.js' %}"></script>
<script type="text/javascript">
  $('#id_start_date').change(function() {
    // Need to use input#ID to get value because DateWidget generates a div with the same id
    $('#id_end_date').datetimepicker('setStartDate', $('input#id_start_date')[0].value);
  });
  $('#id_end_date').change(function(ev) {
    $('#id_start_date').datetimepicker('setEndDate', $('input#id_end_date')[0].value);
  });
  $('#id_start_date').ready(function() {
    $('#id_start_date').change();
  });
  $('#id_end_date').ready(function() {
    $('#id_end_date').change();
  });
</script>
<script type="text/javascript">

  change_trigger('#id_release_schedule', {{ form.generate_release_schedule_options|safe }}, '#release_schedule_options', '#id_release_schedule_options');
  change_trigger('#id_media_type', '{% url "series:media_index" %}', '#media_type_options', '#id_media_type_options');

  {% if not series or series.media_type_options|length == 0 %}
    $('#id_media_type').ready(function() {
      $('#id_media_type').change();
    });
    {% endif %}
    {% if not series or series.release_schedule_options|length == 0 %}
      $('#id_release_schedule').ready(function() {
        $('#id_release_schedule').change();
      });
      {% endif %}
    </script>
