{% extends 'base.html' %}

{% block title %}
Series - Index
{% endblock title %}

{% block navbar_items %}
<li class="active"><a href="{% url 'series:index' %}">Series</a></li>
<li><a href="{% url 'provider:index' %}">Providers</a></li>
{% endblock navbar_items %}

{% block header %}
<h1>Series
  <div class="pull-right">
    <a href="{% url 'series:new' %}" class="btn btn-success">
      Create
    </a>
  </div>
</h1>
{% endblock header %}

{% block content %}
<div class="container-fluid">
  <ul class="series-list">
    {% for s in series %}
    <li>
      <div class="panel panel-default">
        <div class="panel-body poster-area">
          <a href="{% url 'series:view' s.id %}" >
            <img src="{{ s.poster.url }}" class="poster">
          </a>
        </div>
        <div class="panel-footer">
          <p><h4>{{ s.name }}<small> {{ s.provider.name }} </small></h4></p>
          <p> {{ s.current_count }} / {{ s.total_count }}</p>
          <div class="progress">
            <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="{{ s.current_count }}" aria-valuemin="0" aria-valuemax="{{ s.total_count }}" style="width: 5%">
              <span class="sr-only">45% Complete</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
