{% extends 'series/index.html' %}
{% load bootstrap3 %}

{% block title %}
Series - New
{% endblock title %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'series:index' %}">Series</a></li>
  <li class="active">New</li>
</ol>
{% endblock breadcrumb %}

{% block header %}
<h1>Add Series</h1>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <form action="{% url 'series:new' %}" method="post" enctype="multipart/form-data" class="form well">
      {% csrf_token %}
      {% include 'series/form_series.html' with form=form %}

      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'series:index' %}" class="btn btn-default">
            Back
          </a>
          <button type="submit" class="btn btn-primary pull-right">
            Sumbit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
