<div class="panel panel-default">
  <a href="{% url 'series:view' series.id %}" >
    <div class="panel-body poster-area">
      {% if series.poster %}
      <img src="{{ series.poster.url }}" class="poster">
      {% endif %}
    </div>
  </a>
  <div class="panel-footer">
    <h4 class="truncate">
      <a title="{{ series.title }}" href="{% url 'series:view' series.id %}">
        {{ series.title }}
      </a>
      <br />
      <a title="{{ series.provider.name }}" href="{% url 'provider:view' series.provider.id %}">
        <small>
          {{ series.provider.name }}
        </small>
      </a>
    </h4>
    <p>
      <small>{% if series.next_release %}Next release: {{ series.next_release|date:"d-m" }}{% else %}&nbsp;{% endif %}</small>
      <span class="pull-right">
        {%if series.info_url %}
        <a href="{{ series.info_url }}"><span class="glyphicon glyphicon-info-sign"></span></a>
        {% endif %}
        <span class="label label-default"> {{ series.current_count }}/{%if series.total_count == 0 %}?{% else %}{{ series.total_count }}{% endif %}</span>
        <span class="label {{ series.bootstrap_label_class }}">{{ series.label_text }}</span>
      </span>
    </p>
    {{ series.bootstrap_progressbar|safe }}
  </div>
</div>
