#content {
	padding-top: 40px;
}

#top-alert {
	margin-top: 40px;
}

#content ol {
	margin-top: 40px;
}

#view-controls form {
	width: auto;
	padding-right: 0;
}

.btn-delete {
	margin-right: 15px;
}
