#content {
	padding-top: 40px;
}

#top-alert {
	margin-top: 40px;
}

#content ol {
	margin-top: 40px;
}

#view-controls {
	padding-top: 10px;
}

.btn-delete {
	margin-right: 15px;
}

.well hr {
	border-color: #D8D8D8;
}

.well a {
	border-color: #D8D8D8;
}

img.poster {
	max-width: 240px;
	max-height: 360px;
	padding: 0;
	margin: 0;
}

div.poster-area {
	width: auto;
	height: 360px;
}

ul.series-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.series-list li {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
  height: auto;
}
