{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
Series - Index
{% endblock title %}

{% block navbar_items %}
<li class="active"><a href="{% url 'series:index' %}">Series</a></li>
<li><a href="{% url 'provider:index' %}">Providers</a></li>
<li><a href="{% url 'fetcher:index' %}">Fetcher</a></li>
{% endblock navbar_items %}

{% block header %}
<h1>Series
  <div class="pull-right">
    <a href="{% url 'series:new' %}" class="btn btn-success">
      Create
    </a>
  </div>
</h1>
{% endblock header %}

{% block content %}
<ul class="series-list">
  {% for s in series %}
  <li>
    {% include "series/series_card.html" with series=s %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
